<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>로그인</h3>
<form method="post">
    <div>
        <label for="loginId">login ID</label>
        <input type="text" id="loginId" name="loginId" placeholder="아이디를 입력해주세요" />
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="암호를 입력해주세요" />
    </div>
    <div>
        <button type="submit">로그인</button>
        <button type="button" th:onclick="|location.href='@{/}'|">돌아가기</button>
    </div>
</form>
</body>
</html>