<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>상품 수정</h1>
</div>
<form method="post" action="/edit">
    <div>
        <label for="id">상품 ID</label>
        <input type="text" id="id" name="id" th:value="${item.id}" readonly />
    </div>
    <div>
        <label for="name">상품명</label>
        <input type="text" id="name" name="name" th:value="${item.name}" />
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" th:value="${item.price}" />
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" th:value="${item.quantity}" />
    </div>
    <div>
        <button type="submit">등록</button>
        <button type="reset">취소</button>
    </div>
</form>
</body>
</html>